<div class="
  uk-card uk-card-default uk-card-hover
  uk-card-large
">
  <div class='uk-card-header'>
    <CodeBlock
      @code='ember install ember-autostash-modifier'
    />
  </div>
  <div class='uk-card-body'>
      <label class="uk-form-label" for="demo-input">Type here, and then change routes</label>
      <input
        type="text"
        id="demo-input"
        class="uk-input"
        placeholder='Type something here'
        {{autostash @model.id}}
      >
      <br><br>

      <label class='uk-form-label' for='demo-checkbox'>Check the box</label>
      <input type="checkbox" id='demo-checkbox' class="uk-checkbox" {{autostash @model.id}}>

      <br><br>

      <label class='uk-form-label' for='demo-textarea'>Type some text</label>
      <textarea id='demo-textarea' class='uk-textarea' {{autostash @model.id}} />
    <p>
      Routes:
      <LinkTo @route='demo' @model={{1}}>One: /1</LinkTo>,
      <LinkTo @route='demo' @model={{2}}>Two: /2</LinkTo>,
      <LinkTo @route='demo' @model={{3}}>Three: /3</LinkTo>
    </p>
  </div>

  <div class='uk-card-footer'>

    {{#let (get-code-snippet "demo-input.hbs") as |snippet|}}
      <CodeBlock
        @code={{snippet.source}}
        @language="handlebars"
      />
    {{/let}}
  </div>
</div>
